.service-card {
	padding: 15px;
	border-radius: 15px;
	box-shadow: 0px 5px 5px var(--dark);
	min-height: 230px;
	display: flex;
	justify-content: space-between;
}

.service-card-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
}

.service-image-container {
	/* min-height: 100px; */
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.service-image {
	height: 90%;
	width: 90%;
}

.service-title {
	font-size: 1.55rem;
	padding: 6px;
	border-radius: 10px;
}
