.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
}
.nav-logo {
	width: 120px;
}

.menu-list-container {
	display: flex;
	align-items: center;
	gap: 15px;
}

.menu-list {
	display: flex;
	gap: 20px;
	list-style: none;
}

.menu-list-link {
	color: black;
	text-decoration: none;
	font-weight: lighter;
}

.request-quote-btn {
	padding: 9px 15px;
	border-radius: 7px;
	background-color: transparent;
	border: 1px solid;
	font-weight: lighter;
}
.menubar {
	display: none;
}
/* mobile */
@media only screen and (min-width: 0px) and (max-width: 768px) {
	.menu-list,
	.request-quote-btn {
		display: none;
		text-align: center;
		width: 100%;
	}
	.menu-list {
		animation: wipeDown 0.5s 1 alternate ease-in-out;
	}
	.nav-logo {
		width: 100px;
	}
	.menubar {
		display: block;
	}
	.brand-logo {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
	}
	.navbar,
	.menu-list-container {
		flex-direction: column;
		/* margin-top: 10px; */
		padding-bottom: 10px;
		gap: 10px;
		width: 100%;
	}
}

/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.nav-menu-list {
		gap: 15px;
	}
}

@keyframes wipeDown {
	0% {
		height: 0%;
	}
	100% {
		height: 100%;
	}
}
