.service-card-container {
	display: grid;
	grid-template-columns: 49% 49%;
	justify-content: space-between;
	gap: 20px;
}

.service-card {
	display: flex;
}

.learn-more-btn {
	display: flex;
	gap: 5px;
	font-size: 12px;
	letter-spacing: 0.5px;
	align-items: center;
	background-color: transparent;
	border: none;
}

/* mobile */
@media only screen and (min-width: 0px) and (max-width: 576px) {
	.service-card-container {
		grid-template-columns: 100%;
	}
	.service {
		padding: 10px;
	}
}

/* Tablet */
@media only screen and (min-width: 576px) and (max-width: 1024px) {
	.service {
		padding: 10px;
	}
}

/* desktop */
/* @media only screen and (min-width: 1248px) {
	.service-card-container {
		grid-template-columns: 30% 30% 30%;
	}
} */
